{% load i18n static %}

<nav {% if user.is_authenticated %} hx-ext="ws" ws-connect="ws://127.0.0.1:8000/ws/partner/{{ request.user.partner_profile.id }}/notifications/" {% endif %}
     class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler navbar-toggler-right"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'home' %}">
      <img style="width: 118px;
                  height: 18px;
                  display: block"
           height="18"
           width="118"
           src="{% static 'images/brand/luminate-logo.webp' %}"
           alt="Luminate Financial Group Loan Portal" />
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        {% comment %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
        {% endcomment %}
        {% if user.is_authenticated %}
          {% comment %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:detail' user.pk %}">{% translate "My Profile" %}</a>
                    </li>
          {% endcomment %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">{% translate "Home" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'loans:all_loan_applications' %}">{% translate "Available Applications" %}</a>
          </li>
          {% comment %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'loans:marketing_loan_application' %}">{% translate "Marketing Loan" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'loans:renovation_loan_application' %}">{% translate "Renovation Loan" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'loans:deposit_loan_application' %}">{% translate "Deposit Loan" %}</a>
          </li>
          {% endcomment %}
          {% include "global/notifications_icon.html" %}
          <li class="nav-item ms-3">
            <a class="btn btn-primary" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
          </li>
        {% else %}
          {% comment %}
                    {% if ACCOUNT_ALLOW_REGISTRATION %}
                        <li class="nav-item">
                            <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                        </li>
                    {% endif %}
          {% endcomment %}
          <li class="nav-item">
            <a id="log-in-link"
               class="btn btn-primary"
               href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
