{% load static %}

<script defer
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js"
        integrity="sha512-HvOjJrdwNpDbkGJIG2ZNqDlVqMo77qbs4Me4cah0HoDrfhrbA+8SBlZn1KrvAQw7cILLPFJvdwIgphzQmMm+Pw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script defer
        src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.7/htmx.min.js"
        integrity="sha512-IisGoumHahmfNIhP4wUV3OhgQZaaDBuD6IG4XlyjT77IUkwreZL3T3afO4xXuDanSalZ57Un+UlAbarQjNZCTQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script defer
        src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.7/ext/ws.min.js"
        integrity="sha512-1OIiXEswZd/etj60BUwFmyoi0OhrWdoYlzayJpSBivoMV0pQPIQr+vtAn3W3htsbWtLRU8DrBl0epdK4DQbj/w=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script defer>
  document.addEventListener("DOMContentLoaded", () => {
    document.body.addEventListener("htmx:configRequest", (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
  });
</script>
<script defer src="{% static 'js/project.js' %}"></script>
