<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "@id": "https://luminate.co.nz/#org",
    "name": "Luminate Financial Group Limited",
    "url": "https://luminate.co.nz/",
    "logo": "https://go.luminate.co.nz/hubfs/LFG%20Red.png",
    "image": "https://go.luminate.co.nz/hubfs/luminate-financial-group-splsah.webp",
    "description": "Luminate Financial Group has been helping New Zealanders secure personalised residential and commercial finance since 1998. We specialise in tailored solutions—especially for complex cases beyond standard banking. From mortgages to debt restructuring and asset management, we turn challenges into opportunities. Let's illuminate your path to financial success.",
    "slogan": "Expert mortgage advice for Kiwi home buyers",
    "telephone": "+64800333400",
    "priceRange": "$$",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "11 McColl Street",
      "addressLocality": "Auckland",
      "addressRegion": "AUK",
      "postalCode": "1023",
      "addressCountry": "NZ"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": "-36.867637158478395",
      "longitude": "174.7736299134926"
    },
    "areaServed": {
      "@type": "Country",
      "name": "New Zealand"
    },
    "openingHoursSpecification": [{
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "09:00",
      "closes": "17:00"
    }],
    "sameAs": [
      "https://www.linkedin.com/company/luminate-finance",
      "https://www.facebook.com/LuminateFinancial/",
      "https://www.instagram.com/luminatehomeloans/",
      "https://x.com/LuminateFG",
      "https://www.tiktok.com/@luminatefinancialgroup",
      "https://www.youtube.com/@luminatefinancial",
      "https://go.luminate.co.nz",
      "https://markethub.luminate.co.nz",
      "http://luminate.co.nz"
    ],
    "contactPoint": [{
      "@type": "ContactPoint",
      "telephone": "+64800333400",
      "contactType": "customer service",
      "areaServed": "NZ",
      "availableLanguage": ["English"]
    }, {
      "@type": "ContactPoint",
      "telephone": "+64800333400",
      "contactType": "mortgage advice",
      "areaServed": "NZ",
      "availableLanguage": ["English"]
    }],
    "founder": {
      "@type": "Person",
      "name": "Trent Bradley"
    },
    "foundingDate": "1998-01-01",
    "foundingLocation": {
      "@type": "Place",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Auckland",
        "addressCountry": "NZ"
      }
    },
    "knowsAbout": [
      "mortgages",
      "first home buyers",
      "property investment",
      "home loans",
      "refinancing"
    ]
  }
</script>
